.timeline {
  margin: 0;
  height: auto;
  padding: 0;
}

.timeline ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.5s linear;
  top: 0;
}

.timeline ul li {
  margin: 28px 36px;
  position: relative;
  padding: 12px 0;
  color: #fff;
  border-radius: 10px;
  line-height: 20px;
  width: 90%;
}

.timeline ul li > span {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 1px solid #fff;
  position: absolute;
  left: -30px;
}

.timeline ul li > span:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  left: -5px;
}

.timeline ul li > span.drops-loot:before {
  background: #fff;
}

.timeline ul li > span:before {
  top: -20px;
}
